services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx-dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - api
    networks:
      - app_network

  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: bpY0zlso82YUQyyZcAdLhu
      MONGO_INITDB_DATABASE: groupsappdb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./api/dev-mongo-init.js:/docker-entrypoint-initdb.d/dev-mongo-init.js.js:ro
    networks:
      - app_network
  
  mailhog:
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app_network
    command: ["-invite-jim", "-jim-disconnect=0", "-jim-accept=1", "-jim-linkspeed-affect=1", "-jim-linkspeed-max=1800", "-jim-reject-sender=0", "-jim-reject-auth=0"] 

  api:
    build:
      context: /api
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: development
      BASE_URL: http://localhost/
      API_PORT: 3000
      MONGO_URI: mongodb://root:bpY0zlso82YUQyyZcAdLhu@mongo:27017/groupsappdb?authSource=admin
      SESSION_SECRET: MrvaVLW6f5Yg8cY1lwgJ5f
      ASSIGNMENTS_ADMIN_LOCK: TRUE
      ALLOWED_EMAIL_DOMAINS: example.org,example.com
      ALLOW_EXAMPLE_ORG: true
      SMTP_SERVER: mailhog
      SMTP_PORT: 1025
      SMTP_SECURE: false
      SMTP_FROM_ADDRESS: Group Coursework <groups-admin@example.org>
    volumes:
      - ./api:/app
      - /app/node_modules
    expose:
      - 3000
    depends_on:
      mongo:
        condition: service_started
      mailhog:
        condition: service_started
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - 5173
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost/api
      - VITE_SERVER_HOST=0.0.0.0
      - WATCHPACK_POLLING=true
    restart: unless-stopped
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    networks:
      - app_network

volumes:
  mongodb_data:

networks:
  app_network:
    driver: bridge
