services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx-dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - api
    networks:
      - app_network

  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
      - ./api/usertesting-mongo-init.js:/docker-entrypoint-initdb.d/usertesting-mongo-init.js:ro
    networks:
      - app_network

  api:
    build:
      context: /api
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: development
      API_PORT: ${API_PORT}
      MONGO_URI: ${MONGO_URI}
      SESSION_SECRET: ${SESSION_SECRET}
      OAUTH_REDIRECT_URI: ${OAUTH_REDIRECT_URI}
    volumes:
      - ./api:/app
      - /app/node_modules
    expose:
      - "${API_PORT}"
    depends_on:
      mongo:
        condition: service_started
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "${FRONTEND_PORT}"
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost/api
      - VITE_SERVER_HOST=0.0.0.0
      - WATCHPACK_POLLING=true
    restart: unless-stopped
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    networks:
      - app_network

volumes:
  mongodb_data:

networks:
  app_network:
    driver: bridge
