.step-item {
  align-items: center;
  position: relative;
  width: 20%;
}

.step-item::after {
  content: "";
  height: 4px;
  background-color: #dcdcdc;
  position: absolute;
  top: 15px;
  left: 50%;
  width: 100%;
  z-index: -1;
}

.step-item:last-child::after {
  display: none;
}

.completed::after {
  background-color: var(--bs-primary);
  filter: grayscale(0.7);
}

.current::after {
  background-color: var(--bs-primary);
  background: linear-gradient(90deg, var(--bs-primary) 0%, #dcdcdc 50%);
}

.circle-number-wrapper {
  background-color: transparent;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
}

.circle-number {
  background-color: #dcdcdc;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
}

.completed .circle-number {
  background-color: var(--bs-primary);
  filter: grayscale(0.7);
  color: #eeeeee;
}

.current .circle-number {
  background-color: var(--bs-primary);
  color: white;
}

.step-label {
  font-size: 0.75rem;
  color: #666;
  word-wrap: break-word;
  hyphens: auto;
  width: 90%;
}

.current .step-label {
  font-weight: bold;
}
