<!DOCTYPE html>
<html lang="en">
<head>
  <title>Team progress report</title>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="card">
    <div class="card-body">
      Team report
    </div>
  </div>
</body>
</html>
